[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "errint"]
	path = errint
	url = https://github.com/cran/errint
[submodule "NORMA"]
	path = NORMA
	url = https://github.com/cran/NORMA
